img {
    width: 200px;
    height: 200px;
}

.frame {
    margin: auto;
    max-width: 820px;
    width: 100%;
    border: 5px solid black;
}

.container1,
.container2,
.container3 {
    width: 820px;
    height: 200px;
    margin: 3px;
    position: relative;
}

.header-btn {
    float: right;
    margin: 20px;
}

span {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

.check {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.link {
    position: absolute;
    top: 0;
    left: 70%;
    height: 15px;
    width: 15px;
}

span:hover {
    opacity: 0;
    font-size: 2.5em;
    transition: 0.5s;
    cursor: pointer;
}

.elem {
    float: left;
    width: 25%;
    position: relative;
    opacity: 0.7;
}

.elem:hover {
    opacity: 1;
}

#main-footer {
    margin: 70px;
}

@media(min-width:600px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    #main-footer,
    #footer-title {
        grid-column: 1;
    }
    #main-footer,
    #contact {
        grid-column: 4;
        text-align: center;
    }
}